DB_HOST=db
DB_PORT=5432
DB_NAME=sikassarangan
DB_USER=sikassarangan_user
DB_PASSWORD=change-this-to-a-strong-random-password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change-this-to-a-strong-random-password

API_KEY=change-this-api-key
API_PORT=443

DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public
